<!doctype html>
<html ⚡>
  <head>
    <title><%= @meta[:title] %></title>
    <meta name="description" content="<%= @meta[:description] %>">
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

    <meta name="B-verify" content="840e1cccef9351868e6a6dee8efa58af03b9a447" />

    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link rel="canonical" href="<%= request.original_url %>">

    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style><noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>

    <style amp-custom>
      html {
        background-color: #FAFAFA;
        color: #333;
        -webkit-font-smoothing: antialiased;
      }

      ul {
        list-style-type: none;
        margin-right: 30px;
      }

      h1 {
        font-size: 18px;
      }

      .description {
        font-size: 16px;
        color: #7d7b7b;
      }

      footer {
        font-size: 22px;
      }

      footer ul li {
        margin-top: 15px;
      }      

      .container {
        margin: 0 auto;
      }

      .article {
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
      }

      .link-article {
        font-size: 22px;
      }

    </style>

  </head>

  <body>
    <div class='container'>

      <%= yield %>

      <footer>
        <ul>
          <li><%= link_to 'Inicio', urls_path %></li>
          <% Category.all.each do |category| %>
            <li><%= link_to category.name, categories_path(category.slug), class: 'link-category' %></li>
          <% end %>
        </ul>
      </footer>

    </div>

    <amp-analytics type="googleanalytics">
      <script type="application/json">
        {
          "vars": {
            "account": "UA-107277241-1"
          },
          "triggers": {
            "trackPageview": {
              "on": "visible",
              "request": "pageview"
            },
            "trackClickOnFooter": {
              "selector": ".link-category",
              "on": "click",
              "request": "event",
              "vars": {
                "eventCategory": "footer-url",
                "eventAction": "click"
              }
            },
            "trackClickOnArticle": {
              "selector": ".link-article",
              "on": "click",
              "request": "event",
              "vars": {
                "eventCategory": "article-url",
                "eventAction": "click"
              }
            }
          }
        }
      </script>
    </amp-analytics>

  </body>

</html>
