<!DOCTYPE html>
<html>
  <head>
    <title>Alessandro Stein - Lead Software Engineer</title>

    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="keywords" content="Alessandro Stein alessandrostein mecasei.com ruby rails" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Welcome! Alessandro Stein is a Lead Software Engineer at Mecasei.com, Ruby on Rails developer">
    <meta property="og:url" content="htttp://alessandrostein.com/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Alessandro Stein">
    <meta property="og:image" content="<%= asset_path('alessandrostein.jpg') %>">
    <meta property="og:site_name" content="Alessandro Stein">
    <meta property="og:description" content="Welcome! Alessandro Stein is a Lead Software Engineer at Mecasei.com, Ruby on Rails developer">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
